.home-footer
  #footer
    .container
      %p.muted.credit
        Developed by
        %a{:href => 'javascript:void(0);'} Narendra Garikapati
        Email :
        %a{:href => 'javascript:void(0);'} narendra99899@gmail.com