- if @contacts.present?
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th S.No
        %th Name
        %th Number
        %th Action
    %tbody
      - @contacts.each_with_index do |contact, index|
        %tr
          %td= index + 1
          %td= link_to contact.name, contact_path(contact.id), 'data-toggle' => 'modal', 'data-target' => '#dialog'
          %td= contact.number
          %td= link_to 'View', contact_path(contact.id), 'data-toggle' => 'modal', 'data-target' => '#dialog'
- else
  %table.table.table-bordered.table-striped
    %tbody
      %tr
        %td{:rowspan=>"4"}
          No Contacts Found.